.table{
  height : 100px;
  width : 100px;

}
.postagem{
  background-color: limegreen;
  width : 730px;
  height: 800px;
}
.postagens{
  margin-left: 10px;
  background-color: grey;
  margin-right: 10px;
  width : 600px;
  height: 500px;
  overflow: scroll;
}
.p{
  margin-left: 10px;
  text-align: center;
  margin-right: 10px;
}


.texto{
  height: 90px;
  width: 500px;
  margin-left: 10px;
  margin-right: 10px;
}
.p1{
  text-align: right;
}
.p2{
  text-align: left;
}
.imagem{
  background-image: url("http://upfile.mobi/ui/images/logo_fb.png");
  text-decoration-style: solid;
  width: 100px;
  height: 100px;
}
.m{
  background-image: url("http://upfile.mobi/ui/images/logo_fb.png");
  width: 90px;
  height: 90px;
  image-resolution:
}
.img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
